<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'menu/css/custom.css' %}">

    {% block css %}
    {% endblock %}

    <title>Soda Fountain</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu:home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu:menu_new' %}">New Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu:item_list' %}">All Items</a>
                </li>
            </ul>

            <!-- Search Box -->
            <form class="form-inline" action="{% url 'menu:menu_search' %}" method="GET">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control mr-sm-2 {% if searchform.q.errors %}is-invalid{% endif %}" 
                    name="q" id="id_q" type="text" aria-label="Search"
                    {% for attr,value in searchform.q.field.widget.attrs.items %}{{ attr }}="{{ value }}"{% endfor %}>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
            <!-- /Search Box -->

        <!-- /Nav -->

        </div>
</nav>       

<body class="bg-light">
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Soda Fountain</h1>
            <p class="lead">
                This is a modified jumbotron that occupies the entire horizontal space of
                its parent.
            </p>
        </div>
    </div>
    <!-- /Jumbotron -->

    {% block body %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    
    {% block js %}
    {% endblock %}
     
</body>

    <!-- Footer -->
    <footer class="container-fluid py-5 bg-light mt-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md">
                    <h5>{% lorem 1 w random %}</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>{% lorem 1 w random %}</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 2 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 2 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 2 w random %}</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>{% lorem 1 w random %}</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>{% lorem 1 w random %}</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}/a></li>
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                        <li><a class="text-muted" href="#">{% lorem 1 w random %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

</html>
