{% extends 'menu/base.html' %}

{% block body %}
<div class="container">
<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
        <li class="breadcrumb-item"><a href="#">Menus</a></li>
        <li class="breadcrumb-item"><a href="{% url 'menu:menu_detail' pk=menu.id %}">{{ menu.season }}</a></li>
        <li class="breadcrumb-item"><a href="#">{{ item }}</a></li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<!-- Detail Jumbotron -->
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mb-3">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">{{ item.name }}</h1>
        <blockquote class="blockquote text-left">
            <footer class="blockquote-footer">{{ item.chef }}, <cite title="Source Title">Chef</cite></footer>
        </blockquote>
        <p class="lead mb-4">Multiple lines of text that form the lede, informing
            new readers quickly and efficiently about what’s most interesting in
            this post’s contents.</p>
        <ul class="pl-3">
            {% for ingredient in item.ingredients.all %}
            <li>
                <p>{{ ingredient.name }}</p>
            </li>
            
            {% endfor %}
        </ul>  
        
    </div>
    <p class="text-muted font-italic mt-5 d-inline-block mb-0">created: {{ item.created_date }}</p>
    {% if item.standard %}
    <p class="text-muted font-italic mt-5 d-inline-block float-right mb-0">Standard Item</p>
    {% endif %}
</div>
<!-- /Detail Jumbotron -->
</div>

{% endblock %}
