{% extends 'menu/base.html' %}

{% block body %}
<body>
	<div class="content container">
		<!-- Result Text -->
		<div class="row">
				<p class="text-muted font-italic ml-auto pr-3">all items</p>
			</div>
			<!-- /Result Text -->
		<div class="row">
			<div class="col-lg-12">
				<!-- Item Cards -->
				<div class="card-columns">
					{% for item in items %}
					<div class="card text-center p-3">
						<h3><a href="{% url 'menu:item_detail_no_menu' item_pk=item.pk %}">{{ item.name }}</a></h3>
						<blockquote class="blockquote mb-0">
							<p>{{ item.description|truncatewords:"25"|linebreaks }}</p>
							<footer class="blockquote-footer text-muted">
								<small>
									{{ item.chef }} <cite title="Source Title">Chef</cite>
									<p>published: {{ item.created }}</p>
								</small>
							</footer>
						</blockquote>
					</div>
					{% endfor %}
				</div>
				<!-- /Item Cards -->
			</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
