{% extends 'menu/base.html' %} {% load menu_extras %} {% block body %}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">
      This is a modified jumbotron that occupies the entire horizontal space of
      its parent.
    </p>
  </div>
</div>
<!-- /Jumbotron -->


<div class="container">
    <div class="row">
        <!-- Filter List -->
        <div class="col-sm-2 bg-transparent">
            <div class="list-group mb-2">
                <button type="button" class="list-group-item list-group-item-action">All</button>
                <button type="button" class="list-group-item list-group-item-action">Fresh</button>
                <button type="button" class="list-group-item list-group-item-action">Expired</button>
            </div>
            <div class="list-group">
                {% menu_years as menu_years %} {% for year in menu_years %}
                <button type="button" class="list-group-item list-group-item-action">
                    {{ year }}
                </button>
                {% endfor %}
            </div>
        </div>
    <!-- /Filter List -->

    <!-- Menu Cards -->
    <div class="col-sm-10">
        <div class="card-columns">
            {% for menu in menus %}
            <div class="card text-center inline-block">
                <div class="card-body">
                    <h5 class="card-title">{{ menu.season }}</h5>
                    <p class="card-text">{{ menu.items.all|join:", " }}</p>
                    <p class="card-text">
                        <small class="text-muted">Expires: {{ menu.expiration_date }}</small>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- /Menu Cards -->
  </div>
</div>
{% endblock %}
